@font-face {
  font-family: "Fira-Sans";
  src: url("Fonts/FiraSans-Regular.ttf");
  font-family: "Roboto-bold";
  src: url("Fonts/Roboto-Bold.ttf");
  font-family: "Roboto";
  src: url("Fonts/Roboto-Regular.ttf");
}
html {
  background: #141414;
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  padding: 0px 30px 30px 30px;
}

.nav__links a {
  text-decoration: none;
  font-size: 24px;
  font-family: Fira-Sans;
  color: white;
}

ul {
  list-style: none;
}
.nav__links {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #141414;
  border: #000;
  border-style: groove;
  margin: 0;
  padding: 0;
}

.nav__links h2 {
  font-family: Fira-Sans;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  background: #000;
  margin-top: 0;
  height: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  align-items: center;
  margin: 0;
}

.nav__links li {
  padding: 50px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links .Perfil {
  display: flex;
  justify-content: center;
  height: 120px;
}

.Menu a:hover {
  background: black;
  color: #ceb84c;
  height: 80px;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.Icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0px 25px 0px 25px;
}

.social {
  margin: 5px;
}
.simbolo {
  width: 360px;
  height: 370px;
  padding-left: 100px;
}
.titulo {
  display: flex;
  flex-flow: column;
  padding-left: 350px;
}

.titulo p {
  font-size: 128px;
  font-family: Roboto;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.nome {
  font-family: Roboto;
  display: flex;
  flex-flow: column;
  position: fixed;
  right: 410px;
  top: 100px;
}

.box1 {
  font-size: 20px;
  color: #e0e0e0;
  position: fixed;
  right: 100px;
  top: 170px;
}

.detalhe {
  width: 4px;
  height: 15px;
  background: #ffff00;
  display: inline-block;
  position: fixed;
  right: 515px;
  top: 185px;
  border-radius: 2px;
}
input.text {
  width: 400px;
  height: 45px;
  border-radius: 10px;
  background-color: #000;
  font-family: "Heebo", sans-serif;
  border: none;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.nome h1 {
  font-size: 36px;
  color: #ceb84c;
  padding: 0;
  margin: 0;
}

.box2 {
  font-size: 20px;
  color: #e0e0e0;
  position: fixed;
  right: 100px;
  top: 310px;
}

.detalhe2 {
  width: 4px;
  height: 15px;
  background: #ffff00;
  display: inline-block;
  position: fixed;
  right: 515px;
  top: 325px;
  border-radius: 2px;
}

.email {
  font-family: Roboto;
  display: flex;
  flex-flow: column;
  position: fixed;
  right: 410px;
  top: 240px;
}

.email h1 {
  font-size: 36px;
  color: #ceb84c;
  padding: 0;
  margin: 0;
}

.mensagem h1 {
  font-size: 36px;
  color: #ceb84c;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  display: flex;
  flex-flow: column;
  position: fixed;
  right: 260px;
  top: 380px;
}

.textarea {
  background-color: #000;
  color: #e0e0e0;
  padding: 1em;
  border-radius: 10px;
  border: none;
  font-family: "Heebo", sans-serif;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  width: 400px;
  height: 300px;
  position: fixed;
  right: 95px;
  top: 450px;
}
.detalhe3 {
  width: 4px;
  height: 115px;
  background: #ffff00;
  display: inline-block;
  position: fixed;
  right: 520px;
  top: 560px;
  border-radius: 2px;
}

.footer {
  font-family: Roboto;
  display: flex;
  flex-flow: column;
  position: fixed;
  right: 50px;
  top: 800px;
  font-family: Fira-Sans;
  font-size: 32px;
  color: #e0e0e0;
}

.footer p {
  padding: 0;
  line-height: 0px;
}

.footer span {
  color: #ceb84c;
}

.btn {
  position: fixed;
  right: 750px;
  top: 800px;
  color: #e0e0e0;
  font-size: 26px;
  background: #141414;
  width: 230px;
  height: 90px;
  border-radius: 10px;
}

.btn:hover {
  background: black;
  color: #ceb84c;
}
